<div id="<%= dom_id user_subscription %>">
  <p>
    <strong>Plan:</strong>
    <%= user_subscription.plan_id %>
  </p>

  <p>
    <strong>Plan name:</strong>
    <%= user_subscription.plan_name %>
  </p>

  <p>
    <strong>Paddle user:</strong>
    <%= user_subscription.paddle_user_id %>
  </p>

  <p>
    <strong>Paddle user email:</strong>
    <%= user_subscription.paddle_user_email %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_subscription.User_id %>
  </p>

</div>
